.m-top{
    margin-top:px2rem(72);
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:nth($color,1);
    z-index:30;
    ul{
        font-size:0;
    }
    .top-item{
        display:inline-block;
        height:px2rem(72);
        line-height:px2rem(72);
        img{
            vertical-align:middle;
        }
    }
    .top-item:nth-child(1) {
        font-size:30px;
        color:#fff;
        vertical-align:baseline;
    }
    .top-item:nth-child(1) img{
        width:px2rem(54);

    }
    .top-item:nth-child(2) img{
        width:px2rem(111);
    }
    .top-item:nth-child(3) input,.search input{
        height:px2rem(50);
        padding-left:px2rem(60);
        background:url(../yuebang/img/search.png) no-repeat;
        background-size:px2rem(40) px2rem(40);
        background-position:4px 4px;
        background-color:#fff;
        vertical-align:baseline;
        @include border-radius(4px);
    }
    .search input{
         width:90%;

    }
    .top-item:nth-child(3) .btn{
        padding:px2rem(10) px2rem(20);
        margin-left:px2rem(40);
        color:#fff;
        background-color:nth($color,2);
        vertical-align:middle;
        @include border-radius(6px);
    }
    .top-item:nth-child(4) img{
        width:px2rem(51);
    }
}
