/**
 * 自定义复选框样式
 */
input[type='checkbox']{
    display:none;
}
input[type='checkbox']+label{
    display:inline-block;
    position:relative;
    overflow:hidden;
    width:15px;
    height:15px;
    border:1px solid #ccc;
    background-color:#fff;
    cursor:pointer;
    @include border-radius(2px)
}
input[type='checkbox']+label:after{
    content:'√';
    position:absolute;
    top:1px;
    left:1px;
    width:13px;
    height:13px;
    line-height:13px;
    text-align:center;
    background-color:orange;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    font-family:微软雅黑;
    @include border-radius(2px);
    @include transform(translateY(-18px) rotate(45deg));
    @include transition(transform .2s ease-out)
}
input[type='checkbox']:checked+label:after{
    @include transform(translateY(0));
    @include transition(transform .2s ease-in)
}