/**
 * 头部
 */
.container{
    width:100%;
    min-width:1420px;
}
.header{
    position:relative;
    width:100%;
    font-size:0;
    z-index:20;
    min-width:1000px;
    .item{
        display:inline-block;
        width:50%;
        height:30px;
        line-height:28px;
        color:#fff;
        background-color:#241a18;
        font-size:12px;
        vertical-align:middle;
        li:first-child{
          transform:translateY(2px);
        }
        .language{
            background-color:#241a18;
            color:#fff;
            border:none;
           option{
                background-color:#fff;
                color:#000;
                border:1px solid red !important;
           }
        }
    }
    .title{
        display:inline-block;
        margin-left:95px;
    }
    .right{
        text-align:right;
        margin-right:80px;
        li{
             display:inline-block;
             padding:0 10px;
             height:14px;
             line-height:14px;
             font-size:12px;
             a{
                color:#fff;
             }
        }
        li:not(:last-child){
            border-right:1px solid #fff;
        }
    }
    .nav{
        width:100%;
        height:60px;
        line-height:60px;
        background-color:#f6f6f6;
        -webkit-box-shadow: 0 -2px 2px #ccc inset;
        -moz-box-shadow: 0 -2px 2px #ccc inset;
        -ms-box-shadow: 0 -2px 2px #ccc inset;
        box-shadow: 0 -2px 2px #ccc inset;
        .nav-memu{
             display:inline-block;
             vertical-align:top;
        }
        .nav-memu-item{
             display:inline-block;
             vertical-align:top;
            a{
                display:inline-block;
                width:120px;
                height:58px;
                line-height:58px;
                text-align:center;
                font-size:16px;
                font-weight:bold;
                color:#000;
             }
        }
        .logo{
            width:160px;
            height:80px;
            margin-left:80px;
        }
    }
    .nav-memu-page{
        display:none;
        background-color:#fff;
        -webkit-box-shadow: 2px 0 2px #ccc inset,-2px 0 2px #ccc inset,0 -2px 2px #ccc inset;
        -moz-box-shadow: 2px 0 2px #ccc inset,-2px 0 2px #ccc inset,0 -2px 2px #ccc inset;
        -ms-box-shadow: 2px 0 2px #ccc inset,-2px 0 2px #ccc inset,0 -2px 2px #ccc inset;
        box-shadow: 2px 0 2px #ccc inset,-2px 0 2px #ccc inset,0 -2px 2px #ccc inset;
        -webkit-transform:translateY(-4px);
        -moz-transform:translateY(-4px);
        -ms-transform:translateY(-4px);
        transform:translateY(-4px);
    }
    .product{
        position:relative;
    }
    .product-item{
        position:absolute;
        top:65px;
        left:-300px;
        width:800px;
    }
    .sub-item{
        font-size:0;
        .content{
            display:inline-block;
            width:20%;
            text-align:center;
            .content-title{
                font-size:14px;
            }
            li{
                height:30px;
            }
            a{
                font-size:12px;
                font-weight:normal;
                color:#666;
            }
            a:hover{
                color:red;
            }
        }
        .pic{
            padding:0 25px;
            display:inline-block;
            width:10%;
            text-align:center;
            li{
                font-size:12px;
            }
            li:last-child{
                margin-left:15px;
                margin-top:-30px;
            }
            li:last-child:hover{
                color:red;
            }
            img{
                width:100px;
                height:100px;
            }
        }
    }
    .nav-sub-item{
        height:40px;
        line-height:40px;
        a{
            display:inline-block;
            font-size:12px !important;
            &:hover{
                color:red;
            }
        }

    }
    .last li:last-child{
        padding-bottom:10px;
    }
    .refer{
        -webkit-transform:translateY(-2px);
        -moz-transform:translateY(-2px);
        -ms-transform:translateY(-2px);
        transform:translateY(-2px);
    }
    .multi-menu{
        position:relative;
        width:300px;
        z-index:400
    }
}
.main{
    position:relative;
    width:90% ;
    margin:0 auto;
    .know-more{
       position: absolute;
        left:45%;
        top:320px;
        display:inline-block;
        width:120px;
        height:40px;
        line-height:40px;
        text-align:center;
        color:#fff;
        background-color:rgba(0,0,0,.8);
        z-index:10;
    }
    .know-more:after{
        content:'';
        display:inline-block;
        width:0;
        height:0;
        border-top: 5px solid transparent;
        border-left: 6px solid #fff;
        border-bottom: 5px solid transparent;
        margin-left:5px;
    }
}
.swiper-container{
    .swiper-slide{
        img{
            width:100%;
            height:400px;
        }
    }
    .swiper-pagination-bullet{
        width:10px;
        height:10px;
        background-color:#fff !important;
    }
}
.banner{
     position:relative;
     .title{
        margin-bottom:130px;
     }
}
.swiper-container1{
    width:90%;
    margin:0 auto;
    overflow:hidden;
    vertical-align:middle;
     .swiper-slide{
        a{
            position:relative;
            display:inline-block;
            width:100%;
            height:100%;
            .name{
                position:absolute;
                top:45%;
                left:18%;
                color:#fff;
            }
        }
        .more{
            display:inline-block;
            position:absolute;
            top:70%;
            left:30%;
            color:#fff;
            z-index:30;
        }
        .more:after{
            content:'';
            display:inline-block;
            width:0;
            height:0;
            border-top: 5px solid transparent;
            border-left: 6px solid #fff;
            border-bottom: 5px solid transparent;
            margin-left:5px;
        }
        img{
           margin-top:15px;
        }
    }
    .swiper-button-prev{
        position:absolute;
        top:240px;
        left:0;
        background-image:url(../jsy/img/left.png);
    }
    .swiper-button-next{
        margin-top:80px;
        background-image:url(../jsy/img/right.png);
    }
    .selectimg{
        width:170px;
        height:80px;
        margin-top:0px !important;
    }
}
.footer{
    .line{
        width:100%;
    }
    font-size:0;
    .footer-item{
        display:inline-block;
        overflow:hidden;
        .sub-item{
            display:inline-block;
            font-size:0;
            margin-top:30px;
            vertical-align:top;
            li{
                font-size:12px;
                height:20px;
                line-height:20px;
                color:#666;
                a:hover{
                    color:red;
                }
            }
            li:before{
                content:'';
                display:inline-block;
                width:5px;
                height:5px;
                background-color:#666;
                margin-right:8px;
            }
        }
        .sub-item:not(:last-child){
            margin-right:60px;
        }
        .wx.wx-h{
            display:inline-block;
            // width:
            border-right:1px solid #666;
            padding-right:10px;
        }
        .wx:before,.wx-h:before,.qq:before,.qq-h:before{
            content:'';
            display:inline-block;
            width:25px;
            height:18px;

            vertical-align:middle;
            margin-right:3px;
        }
         .wx:before{
             background:url(../jsy/img/wx.png) no-repeat;
             background-size:18px 18px;
         }
        .wx-h:before{
             background:url(../jsy/img/wx-h.png) no-repeat;
             background-size:18px 18px;
         }
         .qq:before{
             background:url(../jsy/img/qq.png) no-repeat;
              background-size:18px 18px;
              margin-left:10px;
         }
        .qq-h:before{
             background:url(../jsy/img/qq-h.png) no-repeat;
              background-size:18px 18px;
              margin-left:10px;
         }
         .txt{
            width:83%;
            text-align:center;
            color:#666;
            -webkit-transform: translateX(70px) !important;
            -moz-transform: translateX(70px) !important;
            -ms-transform: translateX(70px) !important;
            transform: translateX(70px) !important;
         }
         .txt:first-child{
            border-top:1px dotted #666;
            padding-top:10px;
         }

    }
    .left{
            -webkit-transform: translateY(-30px) !important;
            -moz-transform: translateY(-30px) !important;
            -ms-transform: translateY(-30px) !important;
            transform:translateY(-30px) !important;
    }
    .tip{
        text-align:center;
        color:#666;
        -webkit-transform: translateY(40px) !important;
        -moz-transform: translateY(40px) !important;
        -ms-transform: translateY(40px) !important;
        transform: translateY(40px) !important;
        img{
            vertical-align:middle;
        }
    }
}