.brand_business{
    font-family:"微软雅黑";
    box-border:box-sizing;
    .brand_header{
        height:px2rem(300);
        position:relative;
        .banner{
            width:100%;
            height:100%;
        }
        .title{
            position:absolute;
            bottom:0;
            left:0;
            width:93%;
            height:px2rem(100);
            padding:0 px2rem(20);
            line-height:px2rem(100);
            background-color:rgba(0,0,0,.5);
            font-size:0;
            p{
                display:inline-block;
                vertical-align:middle;
            }
            .pic{
                img{
                    width:px2rem(80);
                    height:px2rem(80);
                    @include border-radius(50%);
                    vertical-align:middle;
                }
            }
            .txt{
                color:#fff;
                position:relative;
                .name{
                    display:inline-block;
                    @include transform(translateY(-12px));
                }
                .pinfen{
                    display:inline-block;
                    position: absolute;
                    top:8px;
                    left:0;
                }
            }
            .btn{
               padding:px2rem(10) px2rem(20);
               background-color:red;
               color:#fff;
               @include transform(translateY(7px));
               @include border-radius(6px);
            }
        }
    }
    .profile{
        padding:px2rem(20) px2rem(30);
    }
    .line{
        display:block;
        width:96%;
        height:1px;
        background-color:black;
        margin-left:2%;
    }
    .profileImg{
        height:px2rem(250);
        padding:px2rem(20) px2rem(40);
        span{
            width:50%;
            display:inline-block;
            width:px2rem(250);
            height:px2rem(250);
            img{
                width:100%;
                height:100%;
            }
        }
        span:first-child{
            margin-right:px2rem(40);
        }
    }
    .comment{
        p{
            display:inline-block;
            padding:px2rem(20) px2rem(30);
        }
        a{
            color:red;
            float:right;
            padding:px2rem(20) px2rem(30);
        }
    }
    .commentItem{
        display:-webkit-box;
        padding:px2rem(10) px2rem(30);
        li{
            -webkit-box-flex:1;
            .headImg{
                width:px2rem(100);
                height:px2rem(100);
                img{
                    width:100%;
                    height:100%;
                    @include border-radius(45px);
                }
            }
            p{
                display:block;
            }
            .time{
                color:#727271;
            }
            .msg{
                margin-top:px2rem(10);
            }
        }
        li:first-child{
            display:-webkit-box;
            -webkit-box-align:center;
            -webkit-box-pack:center;
        }
        li:nth-child(2){
            -webkit-box-flex:10;
        }
        li:last-child{
            display:-webkit-box;
            -webkit-box-align:center;
            -webkit-box-pack:end;
        }
    }
}
.brand_footer{
    font-family:"微软雅黑";
    .brand_footer_item{
        height:px2rem(100);
        display:-webkit-box;
        a{
            color:black;
            display:inline-block;
            font-size:px2rem(30);
            vertical-align:middle;
            @include transform(translateY(1px));
        }
        img{
            vertical-align:middle;
        }
        li{
            width:33%;
            display:-webkit-box;
            -webkit-box-align:center;
            -webkit-box-pack:center;
            border-top:1px solid black;
            border-right:1px solid black;
        }
        li:last-child{
            background-color:#E60012;
            border-right:0;
        }
    }
}