//设计稿
$designWidth : 640;

/**
 *颜色
 * 绿色、淡黄色、橘黄色、深蓝色、淡蓝色、深红色、白色
 */
$color:rgb(57, 109, 54) rgb(245, 164, 24) rgb(235, 97, 0) rgb(34, 104, 179) rgb(0, 160, 233) rgb(230, 0, 18) rgb(255,255,255);

//网站背景色
$web-bg-color:#edecec;