/*
Error: Invalid CSS after "...brand-business'": expected "{", was ";"
        on line 27 of C:\Users\Administrator\Desktop\Vhens\APP\sass\yuebang.scss

22: @import 'layout/footer';
23: @import 'layout/notice';
24: @import 'layout/nav';
25: @import 'pages/yb-index';
26: <<<<<<< HEAD
27: @import 'pages/yb-brand-business';
28: =======
29: >>>>>>> refs/remotes/origin/master

Backtrace:
C:\Users\Administrator\Desktop\Vhens\APP\sass\yuebang.scss:27
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:400:in `run'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
C:/Ruby23/bin/sass:23:in `load'
C:/Ruby23/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...brand-business'\": expected \"{\", was \";\"\A         on line 27 of C:\Users\Administrator\Desktop\Vhens\APP\sass\yuebang.scss\A \A 22: @import 'layout/footer';\A 23: @import 'layout/notice';\A 24: @import 'layout/nav';\A 25: @import 'pages/yb-index';\A 26: <<<<<<< HEAD\A 27: @import 'pages/yb-brand-business';\A 28: =======\A 29: >>>>>>> refs/remotes/origin/master"; }
